/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Colors */
/* Font Family */
/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  font-weight: 400;
  font-family: 'Noto Sans', sans-serif;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}
.page-container {
  min-height: 85vh;
}
.container {
  max-width: 1380px;
}
.search-container {
  overflow: hidden;
  text-align: right;
  max-height: 40px;
}
.search-box {
  margin: 0 auto;
  margin-right: 0;
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #a9a9a9;
  cursor: pointer;
  background: #f5f5f5;
  font-size: 0.8rem;
}
.search-box + label {
  position: absolute;
  top: 2px;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s ease-in-out, border-radius 0.6s, background;
  border: 1px solid #a9a9a9;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 93%;
  background: transparent;
  color: black;
}
.search-box:focus + label {
  position: absolute;
  top: 2px;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
}
.search-icon {
  position: relative;
  left: -22px;
  color: white;
  cursor: pointer;
}
.img-source {
  height: auto !important;
  position: absolute;
  top: 15px;
  right: 15px;
  max-width: 130px;
}
/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.top-header {
  padding: 0.3rem 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
}
.top-header a {
  color: #000000;
}
.top-header a:hover {
  color: #F71A13;
}
.top-header .top-header-left {
  font-size: 1.1rem;
}
.top-header .top-header-left a {
  padding-right: 10px;
}
.top-header .top-header-center .custom-navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-header .top-header-right div {
  display: block;
  margin: 0 auto;
  margin-right: 0;
}
.the-header {
  background: url(../images/banner_header.jpg);
  background-size: cover;
}
.the-header .header-center {
  text-align: center;
}
.the-header .header-center .img-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
}
.the-header .header-right .img-sprite {
  max-height: 135px;
  margin: 0 auto;
  margin-right: 0;
  display: block;
}
.the-header .header-right .header-right-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.the-header .header-right .header-buttons-text {
  color: #ffffff;
  margin-bottom: 2rem;
}
.the-header .header-right .header-buttons-text h2 {
  font-size: 1rem;
}
.the-header .header-right .header-buttons-text h2 span {
  background: red;
  padding: 0.2rem 0.3rem;
  font-weight: 600;
}
.the-header .header-right .header-buttons-text .header-right-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.the-header .header-right .header-buttons-text .header-right-buttons-container img {
  max-width: 90px;
  margin-right: 10px;
  border: 1px solid #787878;
  border-radius: 5px;
}
.menu-bars {
  height: 30px;
  width: 30px;
  position: relative;
}
.menu-bars span {
  position: absolute;
  left: 0;
  height: 1px;
  width: 30px;
  background: #ffffff;
}
.menu-bars span:nth-child(1) {
  top: 0;
}
.menu-bars span:nth-child(2) {
  top: 10px;
}
.menu-bars span:nth-child(3) {
  top: 20px;
}
.the-navbar .navbar-menu .main-navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-navbar .navbar-menu .main-navbar-nav li .nav-link {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 8px solid transparent;
}
.the-navbar .navbar-menu .main-navbar-nav li .nav-link:hover {
  border-color: #F71A13;
}
.navbar-line {
  border-top: 1px solid #F71A13;
}
.menu-mobile-btn {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
}
.menu-mobile-btn span {
  position: absolute;
  left: 0;
}
.menu-mobile-btn span:nth-child(1) {
  top: 0;
}
.menu-mobile-btn span:nth-child(2) {
  top: 15px;
}
.menu-mobile-btn span:nth-child(3) {
  top: 30px;
}
.header-left {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navbar-mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.navbar-mobile .main-navbar-nav {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}
.navbar-mobile .main-navbar-nav li a {
  color: #ffffff;
}
.navbar-mobile .main-navbar-nav li a:hover {
  color: #F71A13;
}
.navbar-mobile-hidden {
  display: none;
}
.close-button {
  position: fixed;
  top: 10%;
  left: 10%;
}
.close-button .close-button-container {
  cursor: pointer;
  position: relative;
  display: block;
  height: 40px;
  width: 40px;
}
.close-button .close-button-container span {
  position: absolute;
  background: #ffffff;
  height: 1px;
  width: 40px;
}
.close-button .close-button-container span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button .close-button-container span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
  padding: 3rem 0;
  padding-bottom: 1rem;
  background: #1C1C1C;
  color: #ffffff;
}
.the-footer .footer-fixed {
  border-right: 1px solid white;
  padding: 4rem;
}
.the-footer .footer-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.the-footer .footer-item a {
  color: #ffffff;
}
.the-footer .footer-item a:hover {
  color: red;
}
.the-footer .footer-item .widgettitle {
  font-size: 1.1rem;
  font-weight: 300;
}
.the-footer .footer-copy {
  padding: 3rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.the-footer .footer-copy h5 {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  color: #868686;
}
.the-footer .footer-copy h6 {
  font-size: 0.9rem;
  color: #616161;
}
.the-footer .footer-copy h6 a {
  color: #868686;
}
.the-footer .footer-copy h6 a:hover {
  color: #F71A13;
}
.the-footer .footer-copy .footer-navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
}
.the-footer .footer-copy .footer-navbar-nav li a {
  position: relative;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #616161;
}
.the-footer .footer-copy .footer-navbar-nav li a:hover {
  color: #868686;
}
.the-footer .footer-copy .footer-navbar-nav li a:after {
  content: ' ';
  position: absolute;
  top: 45%;
  right: -2px;
  height: 5px;
  width: 5px;
  background: #616161;
  border-radius: 100%;
}
.the-footer .footer-copy .footer-navbar-nav li:last-child a:after {
  display: none;
}
.main-bar-container {
  background: #F5F5F5;
  margin: 1rem 0;
  max-height: 45px;
  overflow: hidden;
}
.main-bar-container .main-bar-title h3 {
  margin: 0;
  background: #F71A13;
  color: #ffffff;
  padding: 0.7rem 1rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 600;
}
.main-bar-container .main-bar-slider-item .main-bar-slider-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-bar-container .main-bar-slider-item .main-bar-slider-item-wrapper a {
  color: #616161;
}
.main-bar-container .main-bar-slider-item .main-bar-slider-item-wrapper .main-bar-slider-item-image img {
  height: 50px !important;
  width: auto !important;
  max-width: unset;
}
.main-bar-container .main-bar-slider-item .main-bar-slider-item-wrapper .main-bar-slider-item-content {
  padding-left: 10px;
}
.main-bar-container .main-bar-slider-item .main-bar-slider-item-wrapper .main-bar-slider-item-content h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0;
  letter-spacing: -0.9px;
}
.owl-nav {
  position: absolute;
  top: -19px;
  right: -100px;
  font-size: 2rem;
}
.title-container {
  border-bottom: 1px solid #F71A13;
  margin-bottom: 0.5rem;
}
.title-container h3 {
  font-family: 'Open Sans', sans-serif;
  background: #F71A13;
  display: inline-block;
  margin: 0;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.25rem 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.main-featured-container {
  background: #F5F5F5;
}
.main-featured-container .main-featured-left {
  max-height: 680px;
  overflow: hidden;
}
.main-featured-container .main-featured-right {
  max-height: 680px;
  overflow: hidden;
}
.main-featured-container .vertical-media-slider-container {
  background: #3C3A3B;
  color: #ffffff;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-image {
  margin-right: 10px;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-image img {
  width: 130px;
  height: 80px;
  max-width: 130px;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-content a {
  color: #ffffff;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-content .category {
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-content h3 {
  font-size: 1rem;
  line-height: 1.3rem;
  margin: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  letter-spacing: -1px;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-content h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.main-featured-container .vertical-media-slider-container .vertical-media-item .vertical-media-item-wrapper .vertical-media-item-content span {
  font-size: 0.7rem;
  margin: 0;
  margin-top: -1px;
  display: block;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image {
  position: relative;
  overflow: hidden;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image img {
  width: auto !important;
  height: 100%;
  max-width: unset !important;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column;
  background: #000000;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.74553571) 0%, rgba(0, 0, 0, 0.49623599) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.74553571) 0%, rgba(0, 0, 0, 0.49623599) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.74553571) 0%, rgba(0, 0, 0, 0.49623599) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content .featured-news-main-item-category {
  border-bottom: 1px solid #F71A13;
  width: 100%;
  margin-bottom: 0.5rem;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content .featured-news-main-item-category a {
  background: #F71A13;
  color: #ffffff;
  display: inline-block;
  padding: 0.2rem 0.6rem;
  letter-spacing: -0.5px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content a {
  color: #ffffff;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content .featured-news-main-item-meta {
  padding-left: 1.5rem;
  letter-spacing: -0.5px;
}
.main-featured-container .featured-news-item .featured-news-item-wrapper .featured-news-item-image .featured-news-item-content .featured-news-main-item-meta span:nth-child(1) {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
.main-featured-container .vertical-video-slider-container .vertical-video-item {
  margin-bottom: 1rem;
}
.main-featured-container .vertical-video-slider-container .vertical-video-item .vertical-video-item-image img {
  width: 100%;
}
.block1-container {
  padding: 2rem 1rem;
}
.block1-container .block1-main-news-item h2 {
  color: #616161;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  letter-spacing: -2px;
}
.block1-container .block1-main-news-item .block1-main-news-item-meta-container {
  margin: 0.8rem;
}
.block1-container .block1-main-news-item .block1-main-news-item-meta-container span {
  font-size: 1rem;
}
.block1-container .block1-main-news-item .block1-main-news-item-meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block1-container .block1-main-news-item .block1-main-news-item-image {
  position: relative;
}
.block1-container .block1-main-news-item .block1-main-news-item-image .category {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block1-container .block1-main-news-item .block1-main-news-item-content {
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5rem;
}
.block1-container .block1-big-media-item {
  margin-bottom: 1.5rem;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-image {
  position: relative;
  flex: 0 0 50%;
  margin-right: 10px;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-image .category {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-content {
  flex: 0 0 50%;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-content h3 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: -2px;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-content .meta-container {
  padding: 0rem 1rem;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-content .meta-container span {
  font-size: 0.8rem;
}
.block1-container .block1-big-media-item .block1-big-media-item-wrapper .block1-big-media-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block1-container .block1-sidebar-news-item {
  margin-bottom: 1rem;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-image {
  position: relative;
  flex: 0 0 50%;
  margin-right: 10px;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-image .img-source {
  max-width: 70px !important;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-image .category {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-content h2 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-align: left;
  margin: 0.5rem 0;
  margin-bottom: 0.3rem;
  letter-spacing: -1px;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-content .meta-container {
  padding: 0rem 1rem;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-content .meta-container span {
  font-size: 0.8rem;
}
.block1-container .block1-sidebar-news-item .block1-sidebar-news-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block1-container .block1-latest-news-wrapper {
  border-left: 1px solid #F71A13;
  max-height: 890px;
  overflow: hidden;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item {
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  padding-right: 0.5rem;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid gray;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content {
  flex: 0 0 60%;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content a {
  color: #616161;
  font-weight: 700;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content h3 {
  color: #616161;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: -2px;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container {
  padding: 0rem 1rem;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container span {
  font-size: 0.8rem;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .category {
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-image {
  position: relative;
  margin-left: 10px;
  flex: 0 0 38.5%;
}
.block1-container .block1-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-image .img-source {
  max-width: 75px !important;
}
.banner-container {
  margin-bottom: 1.5rem;
}
.banner-container .banner-content-wrapper {
  background: url(../images/banner_middle.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 4rem;
  padding-bottom: 1.5rem;
}
.banner-container .banner-content-wrapper img {
  max-width: 100px;
}
.banner-container .banner-content-wrapper h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.9rem;
  margin: 5.5rem 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 5.5px;
}
.block2-container {
  padding: 2rem 1rem;
}
.block2-container .block2-main-news-item h2 {
  color: #616161;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
  letter-spacing: -2px;
}
.block2-container .block2-main-news-item .block2-main-news-item-meta-container {
  margin: 0.8rem;
}
.block2-container .block2-main-news-item .block2-main-news-item-meta-container span {
  font-size: 1rem;
}
.block2-container .block2-main-news-item .block2-main-news-item-meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block2-container .block2-main-news-item .block2-main-news-item-image {
  position: relative;
}
.block2-container .block2-main-news-item .block2-main-news-item-image .category {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block2-container .block2-main-news-item .block2-main-news-item-content {
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.5rem;
}
.block2-container .block2-big-media-item {
  margin-bottom: 1.5rem;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-image {
  position: relative;
  flex: 0 0 50%;
  margin-right: 10px;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-image .category {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-content {
  flex: 0 0 50%;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-content h3 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.3rem;
  letter-spacing: -2px;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-content .meta-container {
  padding: 0rem 1rem;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-content .meta-container span {
  font-size: 0.8rem;
}
.block2-container .block2-big-media-item .block2-big-media-item-wrapper .block2-big-media-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block2-container .block2-sidebar-news-item {
  margin-bottom: 1.5rem;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-image {
  position: relative;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-image img {
  width: 100%;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-image .category {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-content h2 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
  margin: 0.5rem 0;
  margin-bottom: 0.3rem;
  letter-spacing: -2px;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-content .meta-container {
  padding: 0rem 1rem;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-content .meta-container span {
  font-size: 0.8rem;
}
.block2-container .block2-sidebar-news-item .block2-sidebar-news-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block2-container .block2-latest-news-container {
  padding-left: 0;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item {
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  padding-left: 0.5rem;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid gray;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content {
  flex: 0 0 40%;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content h2 {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.3rem;
  text-align: justify;
  margin: 0.5rem 0;
  margin-bottom: 0.3rem;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container {
  padding: 0;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container span {
  font-size: 0.8rem;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .meta-container span:nth-child(1) {
  text-transform: uppercase;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-content .category {
  background: #F71A13;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 0.1rem 0.5rem;
  font-weight: 400;
}
.block2-container .block2-latest-news-wrapper .latest-news-media-item .latest-news-media-item-wrapper .latest-news-media-item-image {
  margin-right: 10px;
  flex: 0 0 55%;
}
.footer-banner {
  margin-top: 2rem;
}
.footer-banner .buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}
.footer-banner .buttons-container img {
  max-width: 200px;
}
/**/
.archive-item {
  margin-bottom: 2rem;
}
.archive-item h2 {
  color: #616161;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: -2px;
}
.archive-item img {
  width: 100%;
  height: auto;
}
.category-title-container {
  background: whitesmoke;
  color: #f71a13;
  text-align: center;
  padding: 3rem;
  border-bottom: 0;
  margin-bottom: 2rem;
}
.category-title-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.main-sidebar #sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-sidebar #sidebar .widgettitle {
  position: relative;
  display: inline-block;
  background: #F71A13;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.4rem 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.main-sidebar #sidebar .widgettitle:after {
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 0;
  width: 300px;
  height: 1px;
  background: #F71A13;
}
.pagination {
  margin-bottom: 2rem;
}
.widget-latest-news-container .widget-latest-news-image {
  margin-bottom: 1.5rem;
}
.widget-latest-news-container .widget-latest-news-image img {
  width: 100%;
  height: auto;
}
.widget-latest-news-container .widget-latest-news-info {
  margin-bottom: 1.5rem;
}
.widget-latest-news-container .widget-latest-news-info h3 {
  color: #616161;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: -2px;
}
/**/
.the-single .main-single-category {
  margin-bottom: 1rem;
}
.the-single .main-single-category a {
  color: #F71A13;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.the-single .meta-container {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  color: #545454;
}
.the-single .meta-container a {
  color: #545454;
}
.the-single picture {
  margin-bottom: 1rem;
  display: block !important;
  position: relative;
}
.the-single picture img {
  width: 100%;
  height: auto;
}
.the-single picture .img-source {
  max-width: 170px !important;
}
.the-single .post-content {
  font-size: 1rem;
  line-height: 2.3rem;
  color: #4f4f4f;
}
.the-single .post-content h1 {
  font-size: 2rem;
  line-height: 3rem;
}
.ads-container {
  padding: 1.5rem 1rem;
  text-align: center;
}
.main-sidebar .widget_nav_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-sidebar .widget_nav_menu ul .nav-link {
  color: #f71a13;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.author-desc {
  max-width: 50vw;
  margin: 0 auto;
  color: black;
}
.the-header .header-center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
}
.header-right-container .header-buttons-text {
  color: white;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: left;
  max-width: 350px;
  padding: 2rem 0;
  padding-left: 2rem;
}
.header-right-container .header-buttons-text p {
  margin-bottom: 5px;
}
.header-right-container .btn-header {
  background: #f71a13;
  border-radius: 0;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.3rem 1rem;
  padding-right: 3rem;
  text-transform: uppercase;
}
.header-right-container .header-right-buttons-container img {
  max-width: 120px;
  margin: 0.5rem 0;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 10px;
}
.header-right-container .roku-apple-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.header-right-container .roku-apple-header img {
  max-width: 80px;
  margin-left: 12px;
}
.black-text {
  color: #000000 !important;
}
.black-text .roku-apple-header img {
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -ms-filter: invert(1);
  filter: invert(1);
}
.footer-banner .img-sprite {
  width: 400px !important;
}
.img-tblogo {
  max-width: 240px;
}
.img-tb-logo-footer {
  max-width: 230px;
}
.widget_archive select {
  width: 69%;
  display: block;
  max-width: 100%;
  border: 1px solid #f71a13;
  padding: 0.5rem;
  border-radius: 3px;
}
.ads-container div {
  max-width: 100% !important;
}
.ads-container iframe {
  max-width: 100% !important;
}
.main-show-slider-title h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #a2a2a2;
}
.main-bar-slider-item-content h5 {
  font-size: 0.9rem;
  font-weight: 900;
  color: gray;
  margin-top: 5px;
}
.main-shows-slider-container {
  margin-bottom: 2rem;
}
.video-title-wrapper h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 700;
  color: gray;
}
.sidebar-container h3 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.sidebar-container .category {
  background: red;
  color: white;
  font-size: 13px;
  padding: 0.2rem 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.sidebar-container .meta-container {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.sidebar-container .title-container h3 {
  color: white !important;
}
.opslens-login-box {
  background: black;
  color: white;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.opslens-login-box h3 {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}
.opslens-login-box .btn-danger {
  padding: 0.4rem 2rem;
  font-weight: 700;
  font-size: 0.9rem;
}
.um-profile-body {
  max-width: 100% !important;
}
.um-ajax-items {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.um-ajax-items .um-item {
  flex: 0 0 48%;
}
@media (max-width: 767px) {
  .um-ajax-items .um-item {
    flex: 0 0 100%;
  }
}
